/* Roboto Google Font */
html {
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: 'Roboto', sans-serif;
}

/* Fondo negro del proyecto */
body {
    background-color: black;
    color: white;
}